$background-start-color: rgb(0, 83, 0);
$background-end-color: rgb(0, 0, 0);
$text-color: #cfc;
$button-color: #000;
$button-bg: #a8a4b1;
$button-hover-bg: #3e8e41;
$button-shadow: #1e307b;
$card-border-radius: 8px;
$font-size: 1rem;
$gap: 3vh;
$hand-border: 3px solid $text-color;
$hand-border-radius: 1rem;
$dealer-hand-width: 500px;
$dealer-hand-height: 200px;
