._2C {
  background-image: url("/assets/cards/2_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._3C {
  background-image: url("/assets/cards/3_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._4C {
  background-image: url("/assets/cards/4_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._5C {
  background-image: url("/assets/cards/5_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._6C {
  background-image: url("/assets/cards/6_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._7C {
  background-image: url("/assets/cards/7_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._8C {
  background-image: url("/assets/cards/8_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._9C {
  background-image: url("/assets/cards/9_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._10C {
  background-image: url("/assets/cards/10_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._jackC {
  background-image: url("/assets/cards/jack_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._queenC {
  background-image: url("/assets/cards/queen_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._kingC {
  background-image: url("/assets/cards/king_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._aceC {
  background-image: url("/assets/cards/ace_of_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._2D {
  background-image: url("/assets/cards/2_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._3D {
  background-image: url("/assets/cards/3_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._4D {
  background-image: url("/assets/cards/4_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._5D {
  background-image: url("/assets/cards/5_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._6D {
  background-image: url("/assets/cards/6_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._7D {
  background-image: url("/assets/cards/7_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._8D {
  background-image: url("/assets/cards/8_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._9D {
  background-image: url("/assets/cards/9_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._10D {
  background-image: url("/assets/cards/10_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._jackD {
  background-image: url("/assets/cards/jack_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._queenD {
  background-image: url("/assets/cards/queen_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._kingD {
  background-image: url("/assets/cards/king_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._aceD {
  background-image: url("/assets/cards/ace_of_diamonds.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._2H {
  background-image: url("/assets/cards/2_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._3H {
  background-image: url("/assets/cards/3_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._4H {
  background-image: url("/assets/cards/4_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._5H {
  background-image: url("/assets/cards/5_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._6H {
  background-image: url("/assets/cards/6_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._7H {
  background-image: url("/assets/cards/7_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._8H {
  background-image: url("/assets/cards/8_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._9H {
  background-image: url("/assets/cards/9_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._10H {
  background-image: url("/assets/cards/10_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._jackH {
  background-image: url("/assets/cards/jack_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._queenH {
  background-image: url("/assets/cards/queen_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._kingH {
  background-image: url("/assets/cards/king_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._aceH {
  background-image: url("/assets/cards/ace_of_hearts.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._2S {
  background-image: url("/assets/cards/2_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._3S {
  background-image: url("/assets/cards/3_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._4S {
  background-image: url("/assets/cards/4_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._5S {
  background-image: url("/assets/cards/5_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._6S {
  background-image: url("/assets/cards/6_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._7S {
  background-image: url("/assets/cards/7_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._8S {
  background-image: url("/assets/cards/8_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._9S {
  background-image: url("/assets/cards/9_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._10S {
  background-image: url("/assets/cards/10_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._jackS {
  background-image: url("/assets/cards/jack_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._queenS {
  background-image: url("/assets/cards/queen_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._kingS {
  background-image: url("/assets/cards/king_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

._aceS {
  background-image: url("/assets/cards/ace_of_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  background-image: radial-gradient(rgb(0, 83, 0), rgb(0, 0, 0));
  min-height: 100vh;
  color: #cfc;
}
body .button {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #a8a4b1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #1e307b;
}
body .button:hover {
  background-color: #3e8e41;
  color: #fff;
}
body .button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #182662;
  transform: translateY(4px);
}
body .face-down {
  background: #222;
}
body #dealer-hand {
  width: 500px;
  height: 200px;
  border: 10px solid black;
  margin: auto;
}
body .card {
  color: transparent;
  border-radius: 8px;
  height: 7.5rem;
  width: 4.6875rem;
  padding: 1.25rem;
  font-size: 3rem;
}
body #dealer-hand, body #player-hand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  padding: 1.25rem;
}
body #scores {
  position: absolute;
  top: 2vh;
  left: 2vh;
}
body .hand {
  min-width: 60vw;
  height: 12rem;
  border: 3px solid #cfc;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}/*# sourceMappingURL=style.css.map */